@import "scss/index";

.root{
  font-size: 14px;
  font-weight: 400;
  color: #3F4541;
  margin-bottom: 10px;
  &.error{
    color: #F15151;
  }
}
.large{
  font-weight: 700;
  margin-bottom: 12px;
  color: #000000;
}