html{
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}
#__next{
  position:relative;
  min-height: 100%;
  height: 100%;
}

*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat';
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  &.modal-open{
    overflow-y: hidden;
  }
}
input, button{
  outline:none;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.slick-slider{

}

form{
  display: block;
}
.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: none;
}