// breakpoints

$sm-min: 768px;
$sm-max: 1000px;
$md-min: 1024px;
$md-mid: 1180px;
$md-max: 1280px;
$lg-min: 1555px;
$lg-max: 1920px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xll-min: 1400px;

// container
$container-md: 760px;
$container-lg: 1250px;
$container-xll: 1250px;