@import "scss/index";

.root{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 58px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 500px){
    width: 100%;
    margin: 0;
    padding-right: 22px;
    padding-left: 22px;
  }
}

.title{
  font-weight: bold;
  font-size: 28px;
  line-height: 122.5%;
  text-align: center;
  color: #000000;
}

.content{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-content: center;
  @media screen and (max-width: 860px){
    flex-direction: column;
  }
}

.circles{
  position: relative;
  width: 35%;
  display: flex;
  justify-content: center;
}

.image{
  position: absolute;
  img{
    width: 191px;
    height: 412px;
    position: relative;
    z-index: 1;
  }
}

.circlesSvg{
  min-width: 412px;
}

.right{
  display: grid;
  grid-gap: 60px;
  @media screen and (max-width: 860px){
      display: none;
  }
}

.left{
    display: grid;
    grid-gap: 60px;
    @media screen and (max-width: 860px){
      display: none;
    }
}

.mobileItems{
  display: none;
  @media screen and (max-width: 860px){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-self: center;
  margin-top: 46px;
  }
  @media screen and (max-width: 435px){
    grid-gap: 10px;
  }
  @media screen and (max-width: 374px){
    grid-template-columns: 1fr;
  }
}