@import "scss/index";
.root{
position: relative;
display: flex;
align-items: center;
padding: 0 25px;
cursor: pointer;
a{
  display: flex;
}
span{
  margin-right: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4E4E4E;
  &:hover{
    color: #13B72F;
  }
}
@media screen and (max-width: 1150px){
  padding: 0;
}
@media screen and (max-width: 860px){
  padding: 25px;
}
}

.active{
  height: 80px;
  background-color: #e8f8eb;
  border-bottom: 2px solid #13B72F;
  span{
    color: #13B72F;
  }
  @media screen and (max-width: 1150px){
    height: auto;
    background-color: transparent;
    border: 0;
    span{
      color: #000;
    }
  }
  @media screen and (max-width: 860px){
    height: auto;
    background-color: #e8f8eb;
    border-bottom: 2px solid #13B72F;
    span{
      color: #13B72F;
    }
  }
}

.dropDown {
  background: #fff;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  z-index: 5;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  right: 0px;
  a{
    span{
    color: #000 !important;
    }
    padding: 5px 10px;
  }
}

.dropDownActive{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #13B72F;
}

.dropDownTrigger {
  span{
    margin: auto 0;
    font-weight: bold;
    font-size: 18px;
    color: #31303E;
  }
  img{
    width: 10px;
    height: 7px;
    margin: auto 0;
  }
  padding: 22px 27px 22px 22px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  color: #000;
  margin-right: 20px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  border-radius: 11px;
  margin: 0px;
  font-size: 14px;
  border: 1px solid #C4C4C4;
}

.isSelected{
  position: relative;
  padding-left: 6px;
  &:before{
    content: '';
    width: 4px;
    height: 4px;
    background: #27AE60;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0px
  }
}


.dropdownTriggerActive{
  position: relative;
  font-size: 14px;
  color: #000000;
  padding-bottom: 6px;
}

.isActive{
  color: #27AE60;
}

.option{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}
