@import "scss/index";

.item{
  display: flex;
  flex-direction: column;
}

.right{
  align-self: flex-end;
}

.itemImage{
  background: #e8f8eb;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #13B72F;
  position: relative;
  min-height: 48px;
  svg{
    fill: #13B72F;
    stroke: #13B72F;
  }
}

.active{
  background-color: #13B72F;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.label{
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  align-self: auto;
  @media screen and (max-width: 410px){
    font-size: 12px;
  }
}

.desc{
  font-size: 14px;
  line-height: 17px;
  color: #4E4E4E;
  margin-top: 10px;
  width: 160px;
  @media screen and (max-width: 410px){
    font-size: 12px;
  }
}

.none{
  display: none;
}

.line{
  position: absolute;
  bottom: 30%;
}

.lineRight{
  left: 100%;
}

.lineLeft{
  right: 100%;
}

.mobileItems{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-self: center;
}