@import "scss/index";

.root{
  width: 100%;
  @media screen and (max-width: 500px){
    height: 343px;
  }
}

.green{
  background-color: #e8f8eb;
}

.title{
  font-weight: bold;
  font-size: 28px;
  line-height: 122.5%;  
  text-align: center;
  color: #000000;
  @media screen and (max-width: 375px){
    font-size: 18px;
  }
}