@import "scss/index";

.circle1{
  fill: #13B72F;
}

.circle2{
  stroke: #13B72F;
}

.circle3{
  stroke: #13B72F;
}

.circle1Blue{
  fill: #006AFE;
}

.circle2Blue{
  stroke: #006AFE;
}

.circle3Blue{
  stroke: #006AFE;
}

.circle1ForCircle2{
  stroke: #13B72F;
}

.circle1ForCircle2Blue{
  stroke: #006AFE;;
}