@import "scss/index";

.next{
  position: absolute;
  right: 0;
  cursor: pointer;
  bottom: 55%;
}

.prev{
  transform: rotate(180deg);
  position: absolute;
  left: -40px;
  bottom: 55%;
  cursor: pointer;
}
